[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = BE
ST = Brussels
L = Brussels
O = ECAM
OU = GEI
CN = hostname

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = hostname
DNS.2 = hostname2
DNS.3 = hostname3

